
.logo {
    height: 80px;
    border-radius: 5px;
    margin-left: 50px;

}
  
.nav-item{
    margin-right: 30px;
}

div.container header.navbar {
    margin-top: 1%;
}

.navbar-nav {
    margin-left: auto;
}

body{
    padding-top: 10%;
}
