<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/" class="logo-tienda"><img src="../img/lr-logo-design-template-vector-260nw-792509920.jpg" alt="logo-tienda" class="logo">
            </a>
              <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#" >Categorias</a></li>
                <li><a href="#">Compras</a></li>
                <li><a href="#">Favoritos</a></li>
            </ul>  
            
        </div>
    </nav>
</body>
</html>