<%- include ('../header.ejs') %>
<main id="main">
    <link rel="stylesheet" href="../css/categorias.css">

                <!-- ejemplos!!! -->

                <!-- se ve luego si se cambia lo de agregar al carrito xd -->



    <div class="container-items">
        <div class="items">
            <figure>
                <img src="/img/b2ap3_amp_lnea-de-productos.jpg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Cremas</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/descarga.jpg" alt="Cajas">
            </figure>
            <div class="info-producto">
                <p>Oficina</p>
                <button class="btn btn-success">Seleccionar</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/estrategiaproductos.jpeg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Shampooes</p>
                <button class="btn btn-success">Seleccionar</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/online-shopping-mexico-800-3423d44e0.png" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Electrodomesticos</p>
                <button class="btn btn-success">Seleccionar</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/b2ap3_amp_lnea-de-productos.jpg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Cremas</p>
                <button class="btn btn-success">Seleccionar</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/descarga.jpg" alt="Cajas">
            </figure>
            <div class="info-producto">
                <p>Oficina</p>
                <button class="btn btn-success">Seleccionar</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/estrategiaproductos.jpeg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Shampooes</p>
                <button class="btn btn-success">Seleccionar</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/online-shopping-mexico-800-3423d44e0.png" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Electrodomesticos</p>
                <button class="btn btn-success">Seleccionar</button>
            </div>
        </div>
    </div>
</main>
<%- include ('../footer')%>